
@font-face {
    font-family: system;
    font-style: normal;
    font-weight: 300;
    src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}
@font-face {
    font-family: Bungee;
    src: url(./Audiowide/Audiowide-Regular.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --off_white: #fffff1;
    --fox-red: #FF3F02;
    --fox-yellow: #ff7a00;
    --font: Bungee,system;
}
a{
    color: var(--fox-red);
}
html,body{
    font-family: var(--font);
    height: 100%;
}
html{
    margin:0 auto;
}
body{
    display: flex;
}
/* Left Container */
#left-container{
    display: flex;
    background: url(sign_up.png) no-repeat scroll  center;
    background-size: 60%;
    background-position: 50% 75%;
    justify-content: center;
    align-items: top;
    flex: 1;
    background-color: var(--off_white);
}
h1{
    margin-top: 5rem;
    font-size: 42px;
}

img{
    object-fit: cover;
    margin-top: 2rem;
    width: 200px;
    height: 200px;
}

/* Right Container */
#right-container{
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: var(--off_white);
    border-left: 3px solid var(--fox-yellow);
    padding-left: 1rem;
    box-shadow: 5px 5px 2px 1px var(--fox-yellow);
}
.top-para{
    display: flex;
    flex-direction: column;
    justify-content: end;
    font-size: 1.3rem;
    flex: 0.33;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
    gap: 1rem;
}
.top-para>p{
    text-transform: uppercase;
    line-height: 1.5rem;
}
/* Form */
form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex: 0.33;
    padding:3rem;
    margin: 0.3rem;
    border: 2px solid #f4efeb;
    border-radius: 20px;
    margin-right: 2rem;
    box-shadow: 5px 5px 2px 1px var(--fox-yellow);
}
label{
    min-width:200px;
}
form >div{
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
   
}
.group >div{
    display: flex;
    flex-direction: column;
}
legend{
    font-size: 24px;
}
.group>div{
    position: relative;
}
.group>div>label{
    position: absolute;
}
/* Under Form */
form ~ div{
    display: flex;
    flex-direction: column;
    justify-content: top;
    margin-left: 3rem;
    flex: 0.33;
    gap: 1rem;
    font-size: 16px;
    padding-top: 2rem;
}
button{
    font-family: var(--font);
    width: 200px;
    height: 2rem;
    border-radius: 5px;
    background-color: #FCF6F5FF;
    color: black;
    outline: none;
}
button:hover{
    background-color:var(--fox-yellow);
    color: var(--off_white);
}
button:active{ 
  background-color: transparent;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
/* Input */
input{
    -webkit-appearance: none;
    appearance: none;
    border: none;
    border-bottom: 2px solid black;
    background-color: transparent;
    padding: 0px 25px 0px 25px;
    width: 200px;
}

/* get rid of label if there is input even after focus  */
input:not(:focus):not(:placeholder-shown)+label{
    opacity: 0;
}

/* There is input and it is invalid then show error message (only after out of focus) */
input[type="email"]:not(:focus):not(:placeholder-shown):invalid ~ .email-error{
    display: block;
}
input[type="tel"]:not(:focus):not(:placeholder-shown):invalid ~ .tel-error{
    display: block;
}

input:focus{
    outline: 0;
}
/* get rid of label when focused */
input:focus+label{
    opacity: 0;
}

.email-error,.tel-error,#psw-error{
    display: none;
    font-weight: bold;
    color: var(--color-invalid);
}
/* not in focus and there is input and it is valid */
input:not(input[type="password"]):not(:focus):not(:placeholder-shown):valid{
    background: url(/check.png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 0px -4px;
}
.check{
    background: url(/check.png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 0px -4px;
}
#psw-e{
    display: none;
    width: 200px;
}
input[type="password"]:empty .check{
    display: none;
}

input[type="password"]:focus ~ #psw-e{
    display: block;
}




