@font-face {
    font-family: system;
    font-style: normal;
    src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}
@font-face {
    font-family: Bungee;
    src: url(./Audiowide/Audiowide-Regular.ttf);
}
:root{
    --off_white: #fffff1;
    --fox-red: #FF3F02;
    --fox-yellow: #ff7a00;
    --font: Bungee,system;
}
a{
    color: var(--fox-red);
}
html,body{
    font-family: var(--font);
    min-height: 100vh;
    font-size: 16px;
    background-color: var(--off_white);
}
body{
    display: flex;
    flex-direction: column;
}
/* Left Container */
#aside{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header>h1{
    font-size: 42px;
}
.header>img{
    object-fit: cover;
    width: 150px;
    height: 150px;
}
#guy{
    display: none;
}
/* Right Container */
#info-box{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 1rem;
    gap: 1rem;
}
#info-box>p{
font-size: 18px;
align-self: center;
}

/* Form */
form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding:2rem;
    border: 2px solid #f4efeb;
    border-radius: 20px;
    box-shadow: 5px 5px 2px 1px var(--fox-yellow);
}
form >div{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 2rem;
}
.group >div{
    display: flex;
    flex-direction: column;
}
legend{
    font-size: 24px;
}
.group>div{
    position: relative;
}
.group>div>label{
    position: absolute;
}

button{
    font-family: var(--font);
    width: 200px;
    height: 2rem;
    border-radius: 5px;
    background-color: #FCF6F5FF;
    color: black;
    outline: none;
}
button:hover{
    background-color:var(--fox-yellow);
    color: var(--off_white);
}
button:active{ 
  background-color: transparent;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


/* Input */
input{
    -webkit-appearance: none;
    appearance: none;
    border: none;
    border-bottom: 1px solid black;
    background-color: transparent;
    font-size: 16px;
    font-family: var(--font);
}
/* get rid of label if there is input even after focus  */
input:not(:focus):not(:placeholder-shown)+label{
    opacity: 0;
}
/* Get rid of outline around the input  when you focus in */
input:focus{
    outline: 0;
}
/* get rid of label when focused */
input:focus+label{
    opacity: 0;
}
/* There is input and it is invalid then show error message (only after out of focus) */
input[type="email"]:not(:focus):not(:placeholder-shown):invalid ~ .email-error{
    display: block;
}
input[type="tel"]:not(:focus):not(:placeholder-shown):invalid ~ .tel-error{
    display: block;
}
/* Error Messages */
.email-error,.tel-error,#psw-error{
    display: none;
    color: var(--fox-red);
}
/* Password Checks */
#psw-e{
    display: none;
}
/* Check Mark */
.check{
    background: url(/check.svg);
    background-position: 360px 0px;
    background-size: 20px;
    background-repeat: no-repeat;
}

input[type="password"]:empty .check{
    display: none;
}

input[type="password"]:focus ~ #psw-e{
    display: block;
}


/* Tablet */
@media screen and (min-width: 680px) {
    body{
        flex-direction: row;
     }
     #aside{
        flex: 1;
     }
     .header{
        display: flex;
        align-items: center;
     }
     #info-box{
         justify-content: center;
     }
     .guy-box{
        display: flex;
        align-items: center;
        flex: 1;
     }
     #guy{
         display: flex;
         width: 350px;
         height: 350px;
     }
}

/* Desktop */
@media screen and (min-width: 1024px) {
    #guy{
        display: flex;
        width: 450px;
        height: 450px;
    }
}




